<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome To Our Home Page</title>


</head>

<body style="background-color:#DDA0DD;">
<center>
<h1 style="background-color:#663399 ">Bangtan Event Managements</h1>
     <marquee bgcolor = "#F4A460" font-style: italian >Bangtan Event Management is a leading event management & wedding planning company in Vijayawada, India.
You can contact us.</marquee>

<img src="https://cdn.slidesharecdn.com/ss_thumbnails/eventmanagementbusinessplan-160108054558-thumbnail-4.jpg?cb=1452232294"  alt="Nothing to show"   width="1200" height="700" class="center">
<p style="font-size:30px"><i> Event Management is considered to be very important these days for every party, event, wedding, etc. The term event management signifies its work. The company handling event management is paid for organizing and executing the event in an ideal manner.
Event management covers several roles of various levels of client involvement and event organization and project management. Depending on the role and level of involvement, the daily work of an events manager can include such tasks as: Creating ideas and concepts for events. Managing event budgets, including researching and negotiating costs.</i></p>
    <p style="font-size:27px"><i> Bangtan Event Management is a full-service Event management & Wedding planning Company in
 Vijyawada,India
started on 30th September, 2015 with the method to establish an thrilling and provoking environment
across the target audience so that our visitors or prospective clients experience reducing aspect art
direction of each visual element -

An Event management involves visualizing concepts, planning, budgeting, organizing and executing
events such as concerts, corporate events, digital events, conferences & seminars, wedding planning,
 fashion shows, theme parties, product launching etc.

We at, Bangtan Event Management help our clients attain their objectives via the improvement
and execution of customized special events.</i></p>
<button style= "background:orange;color:violet; font-size: 30px;"> <a href="http://127.0.0.1:5000/register">Register</a></button>

<button style="background:orange;color:violet; font-size: 30px;"> <a href="http://127.0.0.1:5000/login">Login</a></button>






</center>
<a href="https://www.instagram.com/?hl=en">instagram</a> <br>
    <a href="https://twitter.com/login?lang=en">twitter</a> <br>
<a href="https://mail.google.com/mail/u/0/#inbox">Mail</a>
</body>
</html>